@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&display=swap");
@import "./normalize.scss";

body {
  font-family: "Inter", sans-serif;
}

//componentes

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.chart-container {
  background-color: #f1f1f1;
  border-radius: 24px;
  padding: 60px;
  padding-bottom: 144px;
  max-width: 1030px;
  width: 100%;

  .header {
    display: flex;
    flex-direction: column;

    .content {
      display: flex;
      justify-content: space-between;

      .information {
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        .line {
          display: none;
        }

        .title {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 16px;

          h2 {
            font-size: 24px;
            font-weight: bold;
            margin-right: 32px;
          }

          span {
            font-size: 14px;
            color: rgba(51, 51, 51, 1);
          }
        }

        .settings {
          display: flex;
          padding-bottom: 16px;

          width: 100%;

          .resolution {
            display: flex;
            align-items: center;

            .wrapper {
              display: flex;
              justify-content: center;

              svg {
                height: 18px;
                width: 18px;
                margin-right: 6px;
              }
            }

            .resolution-action-buttons {
              margin-left: 16px;

              button {
                background-color: #d9d9d9;
                width: 101px;
                height: 35px;
                border: 0;
                border-radius: 4px;
                text-align: center;
                margin-right: 4px;

                span {
                  color: rgba(51, 51, 51, 1);
                  font-size: 14px;
                  font-weight: 500;
                }

                &:hover {
                  background: linear-gradient(129.58deg, #ec1c24 1.26%, #68181e 100%);

                  span {
                    color: #fff;
                    font-size: 14px;
                    font-weight: 500;
                  }
                }
              }
            }
          }

          .quality {
            margin-left: 64px;
            display: flex;
            align-items: center;

            svg {
              height: 18px;
              width: 18px;
              margin-right: 4px;
            }

            span {
              font-size: 12px;
            }

            ul {
              margin-left: 16px;
              list-style: none;
              font-size: 12px;

              li {
                display: inline-block;
                margin-right: 8px;
                cursor: pointer;

                &:hover {
                  text-decoration: underline;
                  color: #ff000f;
                }
              }
            }
          }
        }
      }
    }

    .logo {
    }
  }

  .chart-data {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;

    .graphic-cards {
      width: 30%;
    }

    .bar-plots {
      width: 100%;
      position: relative;

      div.chart-range {
        right: 0;

        span {
          color: rgba(132, 132, 132, 1);
          position: absolute;
          left: -20px;
          bottom: -30px;
          letter-spacing: -1px;
        }
      }

      .chart-lines {
        display: flex;
        justify-content: space-between;
        width: 77%;
        height: 100%;
        position: absolute;
        left: 23%;
        flex-direction: column;

        .chart-range {
          position: relative;
          right: 0;
          display: flex;
          justify-content: space-between;
          height: 100%;

          > div {
            margin-left: 0;
            width: 1px;
            height: 100%;
            background-color: #dadada;
          }
        }

        .chart-info {
          position: relative;
          width: 100%;
          position: absolute;
          bottom: -87px;

          .line {
            position: absolute;
            top: -11px;
            width: 128%;
            left: -28%;
            display: none;
          }

          .content {
            display: flex;
            justify-content: space-between;

            .chart-info-performance {
              display: flex;
              align-items: center;
              > * {
                margin-right: 8px;
              }

              .info-item-performance {
                display: flex;
                align-items: center;
                font-size: 11px;

                .block-fps {
                  width: 16px;
                  height: 16px;
                  border-radius: 6px;
                  background-color: rgba(106, 106, 106, 1);
                  margin-right: 8px;
                }

                .block-low {
                  width: 16px;
                  height: 16px;
                  border-radius: 6px;
                  background-color: rgba(217, 217, 217, 1);
                  margin-right: 8px;
                }
              }
            }

            .chart-info-description {
              display: flex;
              align-items: center;

              .info-item-subtitle {
                > * {
                  margin-right: 8px;
                }
                display: flex;
                align-items: center;
                font-size: 11px;
              }
            }
          }
        }
      }

      .chart-data-content {
        .wrapper {
          display: flex;
          padding-bottom: 16px;

          &:first-child {
            padding-top: 24px;
          }

          &:last-child {
            // padding-bottom: 16px;
          }

          .graphic-card-name {
            width: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            cursor: pointer;

            .title-block {
              display: flex;
              flex-wrap: wrap;
              justify-content: end;
              align-items: center;
              width: 100%;

              .content {
                text-align: end;
                display: flex;
                align-items: center;

                span {
                  font-size: 12px;
                  text-align: end;
                  margin-right: 12px;
                }

                .overclock {
                  background-color: rgba(218, 218, 218, 1);
                  padding: 6px;
                  border-radius: 4px;
                  font-size: 12px;
                  margin-right: 6px;
                  display: inline-block;
                }

                svg {
                  min-width: 20px;
                }
              }
            }
          }

          .chart-item {
            width: 100%;
            position: relative;
            display: flex;
            align-items: center;

            .crash-content {
              display: flex;
              align-items: center;
              justify-content: start;

              .crash {
                background: linear-gradient(90deg, #ec1c24 0%, #76191f 100%);
                color: #fff;
                font-weight: 500;
                position: relative;
                border: 0;
                max-width: 3px;
                width: 3px;
                margin-right: 12px;
              }

              p {
                color: #79191f;
                font-weight: 600;
                margin-left: 6px;
              }
            }

            .div {
              position: relative;
              width: 100%;
            }

            div {
              display: flex;
              justify-content: end;
              align-items: center;
              height: 30px;
              border-radius: 0 4px 4px 0;
            }

            .primary {
              background: linear-gradient(90deg, #ec1c24 0%, #76191f 100%);
              color: #fff;
              font-weight: 500;
              position: relative;

              .primary-text {
                padding-right: 12px;
              }

              .percent {
                position: absolute;
                right: -50px;
                color: #333333;
              }
            }

            .secondary {
              position: absolute;
              top: 0;
              color: rgba(0, 0, 0, 0.5);
              border-radius: 0;
              background-color: #f2d4d4;

              .secondary-text {
                padding-right: 12px;
              }
            }
          }
        }
      }
    }
  }

  hr.line {
    margin-top: 0;
    margin-bottom: 16px;
    width: 100%;
    height: 1px;
    border: 0;
    background-color: #dadada;
  }
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  background: #202124;
}

.container {
  width: 1256px;
  margin: 0 auto;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
}

h4 {
}

h5 {
}

h6 {
}

.chart-item section > *[data-value="1"] {
  width: 1%;
}
.chart-item section > *[data-value="2"] {
  width: 2%;
}
.chart-item section > *[data-value="3"] {
  width: 3%;
}
.chart-item section > *[data-value="4"] {
  width: 4%;
}
.chart-item section > *[data-value="5"] {
  width: 5%;
}
.chart-item section > *[data-value="6"] {
  width: 6%;
}
.chart-item section > *[data-value="7"] {
  width: 7%;
}
.chart-item section > *[data-value="8"] {
  width: 8%;
}
.chart-item section > *[data-value="9"] {
  width: 9%;
}
.chart-item section > *[data-value="10"] {
  width: 10%;
}
.chart-item section > *[data-value="11"] {
  width: 11%;
}
.chart-item section > *[data-value="12"] {
  width: 12%;
}
.chart-item section > *[data-value="13"] {
  width: 13%;
}
.chart-item section > *[data-value="14"] {
  width: 14%;
}
.chart-item section > *[data-value="15"] {
  width: 15%;
}
.chart-item section > *[data-value="16"] {
  width: 16%;
}
.chart-item section > *[data-value="17"] {
  width: 17%;
}
.chart-item section > *[data-value="18"] {
  width: 18%;
}
.chart-item section > *[data-value="19"] {
  width: 19%;
}
.chart-item section > *[data-value="20"] {
  width: 20%;
}
.chart-item section > *[data-value="21"] {
  width: 21%;
}
.chart-item section > *[data-value="22"] {
  width: 22%;
}
.chart-item section > *[data-value="23"] {
  width: 23%;
}
.chart-item section > *[data-value="24"] {
  width: 24%;
}
.chart-item section > *[data-value="25"] {
  width: 25%;
}
.chart-item section > *[data-value="26"] {
  width: 26%;
}
.chart-item section > *[data-value="27"] {
  width: 27%;
}
.chart-item section > *[data-value="28"] {
  width: 28%;
}
.chart-item section > *[data-value="29"] {
  width: 29%;
}
.chart-item section > *[data-value="30"] {
  width: 30%;
}
.chart-item section > *[data-value="31"] {
  width: 31%;
}
.chart-item section > *[data-value="32"] {
  width: 32%;
}
.chart-item section > *[data-value="33"] {
  width: 33%;
}
.chart-item section > *[data-value="34"] {
  width: 34%;
}
.chart-item section > *[data-value="35"] {
  width: 35%;
}
.chart-item section > *[data-value="36"] {
  width: 36%;
}
.chart-item section > *[data-value="37"] {
  width: 37%;
}
.chart-item section > *[data-value="38"] {
  width: 38%;
}
.chart-item section > *[data-value="39"] {
  width: 39%;
}
.chart-item section > *[data-value="40"] {
  width: 40%;
}
.chart-item section > *[data-value="41"] {
  width: 41%;
}
.chart-item section > *[data-value="42"] {
  width: 42%;
}
.chart-item section > *[data-value="43"] {
  width: 43%;
}
.chart-item section > *[data-value="44"] {
  width: 44%;
}
.chart-item section > *[data-value="45"] {
  width: 45%;
}
.chart-item section > *[data-value="46"] {
  width: 46%;
}
.chart-item section > *[data-value="47"] {
  width: 47%;
}
.chart-item section > *[data-value="48"] {
  width: 48%;
}
.chart-item section > *[data-value="49"] {
  width: 49%;
}
.chart-item section > *[data-value="50"] {
  width: 50%;
}
.chart-item section > *[data-value="51"] {
  width: 51%;
}
.chart-item section > *[data-value="52"] {
  width: 52%;
}
.chart-item section > *[data-value="53"] {
  width: 53%;
}
.chart-item section > *[data-value="54"] {
  width: 54%;
}
.chart-item section > *[data-value="55"] {
  width: 55%;
}
.chart-item section > *[data-value="56"] {
  width: 56%;
}
.chart-item section > *[data-value="57"] {
  width: 57%;
}
.chart-item section > *[data-value="58"] {
  width: 58%;
}
.chart-item section > *[data-value="59"] {
  width: 59%;
}
.chart-item section > *[data-value="60"] {
  width: 60%;
}
.chart-item section > *[data-value="61"] {
  width: 61%;
}
.chart-item section > *[data-value="62"] {
  width: 62%;
}
.chart-item section > *[data-value="63"] {
  width: 63%;
}
.chart-item section > *[data-value="64"] {
  width: 64%;
}
.chart-item section > *[data-value="65"] {
  width: 65%;
}
.chart-item section > *[data-value="66"] {
  width: 66%;
}
.chart-item section > *[data-value="67"] {
  width: 67%;
}
.chart-item section > *[data-value="68"] {
  width: 68%;
}
.chart-item section > *[data-value="69"] {
  width: 69%;
}
.chart-item section > *[data-value="70"] {
  width: 70%;
}
.chart-item section > *[data-value="71"] {
  width: 71%;
}
.chart-item section > *[data-value="72"] {
  width: 72%;
}
.chart-item section > *[data-value="73"] {
  width: 73%;
}
.chart-item section > *[data-value="74"] {
  width: 74%;
}
.chart-item section > *[data-value="75"] {
  width: 75%;
}
.chart-item section > *[data-value="76"] {
  width: 76%;
}
.chart-item section > *[data-value="77"] {
  width: 77%;
}
.chart-item section > *[data-value="78"] {
  width: 78%;
}
.chart-item section > *[data-value="79"] {
  width: 79%;
}
.chart-item section > *[data-value="80"] {
  width: 80%;
}
.chart-item section > *[data-value="81"] {
  width: 81%;
}
.chart-item section > *[data-value="82"] {
  width: 82%;
}
.chart-item section > *[data-value="83"] {
  width: 83%;
}
.chart-item section > *[data-value="84"] {
  width: 84%;
}
.chart-item section > *[data-value="85"] {
  width: 85%;
}
.chart-item section > *[data-value="86"] {
  width: 86%;
}
.chart-item section > *[data-value="87"] {
  width: 87%;
}
.chart-item section > *[data-value="88"] {
  width: 88%;
}
.chart-item section > *[data-value="89"] {
  width: 89%;
}
.chart-item section > *[data-value="90"] {
  width: 90%;
}
.chart-item section > *[data-value="91"] {
  width: 91%;
}
.chart-item section > *[data-value="92"] {
  width: 92%;
}
.chart-item section > *[data-value="93"] {
  width: 93%;
}
.chart-item section > *[data-value="94"] {
  width: 94%;
}
.chart-item section > *[data-value="95"] {
  width: 95%;
}
.chart-item section > *[data-value="96"] {
  width: 96%;
}
.chart-item section > *[data-value="97"] {
  width: 97%;
}
.chart-item section > *[data-value="98"] {
  width: 98%;
}
.chart-item section > *[data-value="99"] {
  width: 99%;
}
.chart-item section > *[data-value="100"] {
  width: 100%;
}

@import "./responsive.scss";
