/* Default styles for all screen sizes */

/* Styles for extra large screens */
@media only screen and (min-width: 1200px) {
  /* Styles for screens wider than 1200px */
  /* You can customize the styles for extra large screens here */
  .container {
    max-width: 1140px;
  }

  .chart-container {
    .header {
      .content {
        .information {
          .title {
            // h2 {
            //   font-size: 20px;
            //   margin-right: 24px;
            // }

            span {
            }
          }

          .settings {
            width: 100%;

            .resolution {
              img {
              }

              .resolution-action-buttons {
                button {
                  span {
                  }

                  &:hover {
                    span {
                    }
                  }
                }
              }
            }

            .quality {
              img {
              }

              span {
              }

              ul {
                li {
                  &:hover {
                  }
                }
              }
            }
          }
        }
      }

      .logo {
      }
    }

    .chart-data {
      .graphic-cards {
      }

      .bar-plots {
        div.chart-range {
          span {
          }
        }

        .chart-lines {
          > * {
          }
        }

        .chart-data-content {
          .wrapper {
            &:first-child {
            }

            &:last-child {
            }

            .game-title {
              &:hover {
                svg {
                }
              }

              span {
              }

              svg {
              }
            }

            .chart-item {
              div {
              }

              .primary {
              }

              .secondary {
              }
            }
          }
        }
      }
    }

    hr.line {
    }
  }
}

/* Styles for large screens */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* Styles for screens between 992px and 1199px wide */
  /* You can customize the styles for large screens here */

  .container {
    max-width: 940px;
  }

  .chart-container {
    .header {
      .content {
        .information {
          .title {
            h2 {
              font-size: 20px;
              margin-right: 24px;
            }

            span {
            }
          }

          .settings {
            .resolution {
              width: 100%;
              img {
              }

              .resolution-action-buttons {
                button {
                  span {
                  }

                  &:hover {
                    span {
                    }
                  }
                }
              }
            }

            .quality {
              margin-left: 0;
              width: 48%;

              img {
              }

              span {
              }

              ul {
                li {
                  &:hover {
                  }
                }
              }
            }
          }
        }
      }

      .logo {
      }
    }

    .chart-data {
      .graphic-cards {
      }

      .bar-plots {
        div.chart-range {
          span {
          }
        }

        .chart-lines {
          > * {
          }
        }

        .chart-data-content {
          .wrapper {
            &:first-child {
            }

            &:last-child {
            }

            .game-title {
              &:hover {
                svg {
                }
              }

              span {
              }

              svg {
              }
            }

            .chart-item {
              div {
              }

              .primary {
              }

              .secondary {
              }
            }
          }
        }
      }
    }

    hr.line {
    }
  }
}

/* Styles for medium screens */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 720px;
  }

  .chart-container {
    padding: 40px;
    padding-bottom: 124px;

    .header {
      .content {
        .information {
          align-items: start;
          width: 100%;

          .title {
            flex-direction: column;

            h2 {
              width: 100%;
              margin-right: 0;
              margin-bottom: 8px;
            }
            span {
              margin-bottom: 8px;
            }
          }

          .line {
            display: block;
          }

          .settings {
            display: flex;
            flex-direction: column;
            width: 100%;

            .resolution {
              align-items: start;
              flex-direction: column;
              margin-bottom: 12px;

              .wrapper {
                margin-bottom: 6px;
                align-items: start;
                img {
                }
              }

              .resolution-action-buttons {
                display: flex;
                margin-left: 0px;

                button {
                  span {
                  }

                  &:hover {
                    span {
                    }
                  }
                }
              }
            }

            .quality {
              margin: 0;
              img {
              }

              span {
              }

              ul {
                li {
                  &:hover {
                  }
                }
              }
            }
          }
        }
      }

      .logo {
        display: none;
      }
    }

    .chart-data {
      .graphic-cards {
      }

      .bar-plots {
        div.chart-range {
          span {
          }
        }

        .chart-lines {
          > * {
          }
        }

        .chart-data-content {
          .wrapper {
            &:first-child {
            }

            &:last-child {
            }

            .graphic-card-name {
              .title-block {
                .content {
                  text-align: end;
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  width: 100%;
                }

                svg {
                  // visibility: hidden;
                }
              }
            }

            .chart-item {
              div {
              }

              .primary {
              }

              .secondary {
              }
            }
          }
        }
      }
    }

    hr.line {
    }
  }
}

/* Styles for small screens */
@media only screen and (max-width: 767px) {
  .container {
    max-width: 100%;
  }

  .chart-container {
    padding: 32px 16px;
    padding-bottom: 74px;

    .header {
      .content {
        .information {
          align-items: start;
          width: 100%;

          .title {
            flex-direction: column;

            h2 {
              width: 100%;
              margin-right: 0;
              margin-bottom: 8px;
            }
            span {
              margin-bottom: 8px;
            }
          }

          .line {
            display: block;
          }

          .settings {
            display: flex;
            flex-direction: column;
            width: 100%;

            .resolution {
              align-items: start;
              flex-direction: column;
              margin-bottom: 12px;

              .wrapper {
                margin-bottom: 6px;
                align-items: start;
                img {
                }
              }

              .resolution-action-buttons {
                display: flex;
                margin-left: 0px;

                button {
                  span {
                  }

                  &:hover {
                    span {
                    }
                  }
                }
              }
            }

            .quality {
              margin: 0;
              img {
              }

              span {
              }

              ul {
                li {
                  &:hover {
                  }
                }
              }
            }
          }
        }
      }

      .chart-data .bar-plots .chart-lines .chart-info {
        bottom: -37px;
      }

      .logo {
        display: none;
      }
    }

    .chart-data {
      .graphic-cards {
      }

      .bar-plots {
        div.chart-range {
          span {
          }
        }

        .chart-lines {
          > * {
          }
        }

        .chart-data-content {
          .wrapper {
            &:first-child {
            }

            &:last-child {
            }

            .game-title {
              &:hover {
                svg {
                }
              }

              span {
              }

              svg {
              }
            }

            .chart-item {
              div {
              }

              .div {
                .percent {
                  color: #333333;
                  font-size: 12px;
                }
              }

              .primary {
                .primary-text {
                  font-size: 14px;
                }
              }

              .secondary {
              }
            }
          }
        }
      }
    }

    hr.line {
    }
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .chart-container {
    padding: 32px;
    padding-bottom: 104px;

    .header {
      .content {
        .information {
          align-items: start;

          .title {
            flex-direction: column;

            h2 {
              width: 100%;
              margin-right: 0;
              margin-bottom: 8px;
            }
            span {
              margin-bottom: 8px;
            }
          }

          .line {
            display: block;
            left: 0%;
          }

          .settings {
            display: flex;
            flex-direction: column;
            width: 100%;

            .resolution {
              align-items: start;
              flex-direction: column;
              margin-bottom: 12px;

              .wrapper {
                margin-bottom: 6px;
                align-items: start;
                img {
                }
              }

              .resolution-action-buttons {
                display: flex;
                margin-left: 0px;

                button {
                  span {
                  }

                  &:hover {
                    span {
                    }
                  }
                }
              }
            }

            .quality {
              margin: 0;
              img {
              }

              span {
              }

              ul {
                li {
                  &:hover {
                  }
                }
              }
            }
          }
        }
      }

      .logo {
        display: none;
      }
    }

    .chart-data .bar-plots .chart-lines {
      .chart-info {
        bottom: -70px;
      }
    }

    .chart-data {
      .graphic-cards {
      }

      .bar-plots {
        div.chart-range {
          span {
          }
        }

        .chart-lines {
          > * {
          }
        }

        .chart-data-content {
          .wrapper {
            .graphic-card-name {
              .title-block {
                .content {
                  span {
                  }

                  .overclock {
                    padding: 5px;
                    font-size: 10px;
                  }

                  svg {
                  }
                }
              }
            }

            .chart-item {
              .div {
              }

              .primary {
                .primary-text {
                  font-size: 14px;
                }
              }

              .secondary {
                .secondary-text {
                  font-size: 14px;
                }
              }
            }
          }
        }

        .chart-data-content {
          .wrapper {
            &:first-child {
              // padding-top: 0px;
            }

            &:last-child {
            }

            .game-title {
              &:hover {
                svg {
                }
              }

              span {
              }

              svg {
              }
            }

            .chart-item {
              div {
              }

              .div {
                .crash-content {
                  p {
                    font-size: 14px;
                  }
                }
              }

              .primary {
              }

              .secondary {
              }
            }
          }
        }
      }
    }

    hr.line {
    }
  }
  /* sm */
}

@media only screen and (max-width: 575.98px) {
  /* xs */

  .chart-container {
    .header {
      .content {
        .information {
          .line {
          }

          .title {
            h2 {
            }

            span {
            }
          }

          .settings {
            .resolution {
              .wrapper {
                img {
                }
              }

              .resolution-action-buttons {
                button {
                  span {
                  }

                  &:hover {
                    span {
                    }
                  }
                }
              }
            }

            .quality {
              margin-left: 0;
              img {
              }

              span {
              }

              ul {
                li {
                  &:hover {
                    text-decoration: underline;
                    color: #ff000f;
                  }
                }
              }
            }
          }
        }
      }

      .logo {
      }
    }

    .chart-data .bar-plots .chart-lines {
      left: 0;
      .chart-info {
        bottom: -50px;

        .line {
          display: inline;
          left: 0;
          width: 128%;
        }
        .content {
          flex-direction: column;

          .chart-info-performance {
            margin-bottom: 8px;
          }
        }
      }
    }

    .chart-data {
      .graphic-cards {
        width: 30%;
      }

      .bar-plots {
        width: 100%;

        div.chart-range {
          span {
          }
        }

        .chart-lines {
          // display: flex;
          // justify-content: space-between;
          // width: 77%;
          // height: 100%;
          // position: absolute;
          // left: 23%;
          .chart-range {
            visibility: hidden;
          }
        }

        .chart-data-content {
          .wrapper {
            &:first-child {
              padding-top: 0px;
            }

            .graphic-card-name {
              width: 50%;

              .title-block {
                .content {
                  span {
                  }

                  .overclock {
                  }

                  svg {
                  }
                }
              }
            }

            .chart-item {
              width: 100%;
              position: relative;
              display: flex;
              align-items: center;

              .div {
                position: relative;
                width: 100%;

                .crash-content {
                  p {
                    font-size: 12px;
                  }
                }
              }

              div {
                display: flex;
                justify-content: end;
                align-items: center;
                height: 30px;
                border-radius: 0 4px 4px 0;
              }

              .primary {
                background: linear-gradient(90deg, #ec1c24 0%, #76191f 100%);
                color: #fff;
                font-weight: 500;

                .primary-text {
                  padding-right: 12px;
                  font-size: 12px;
                }
              }

              .secondary {
                position: absolute;
                top: 0;
                color: rgba(0, 0, 0, 0.5);
                border-radius: 0;
                background-color: #f2d4d4;

                .secondary-text {
                  padding-right: 12px;
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
    }
  }
}
